@model DataCollection<LessonOverviewDto>

@{
    ViewData["Title"] = "Lessons";
}

<h1>@ViewData["Title"]</h1>

@if (Model != null && Model.Items != null)
{
<div class="card-deck">
    @foreach (var item in Model.Items)
    {
        <div class="card">
            <img src="https://dummyimage.com/600x400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary"
                   asp-controller="Lesson"
                   asp-action="Detail"
                   asp-route-id="@item.LessonId">Go</a>
            </div>
        </div>
    }
</div>
}