@model LessonViewModel

@{
    ViewData["Title"] = "New Lesson";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="create">
    <hr />
    <input type="hidden" asp-for="ReturnUrl" />
    @if (!ViewContext.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="alert alert-danger">
            <h4>Error:</h4>
        </div>
    }

    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name"></span>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <span asp-validation-for="Description"></span>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="VideoUrl"></label>
        <span asp-validation-for="VideoUrl"></span>
        <input asp-for="VideoUrl" class="form-control" />
    </div>


    <h4>Dialogues</h4>
    <p>Elige los personajes:</p>
    <div class="row">
        <div class="col-xs-5">
            @Html.DropDownList("CharacterId", 
                                new SelectList(Model.Characters, "CharacterId", "CharacterName"), 
                                new { @class = "form-control", id = "multiselect", size = "5", multiple="multiple" })
        </div>

        <div class="col-xs-2">
            <button type="button" id="multiselect_rightAll" class="btn btn-block"> >> </button>
            <button type="button" id="multiselect_rightSelected" class="btn btn-block"> > </button>
            <button type="button" id="multiselect_leftSelected" class="btn btn-block"> < </button>
            <button type="button" id="multiselect_leftAll" class="btn btn-block"> << </button>
        </div>

        <div class="col-xs-5">
            <select name="to" id="multiselect_to" class="form-control" size="5" multiple="multiple"></select>
        </div>
    </div>

    <div class="form-group">
        <input id="AddDialogue" class="btn btn-light" type="button" value="Add" />
    </div>

    <div class="form-group dialogues"></div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
    </div>
</form>

@section scripts {

    <script src="~/js/multiselect.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#multiselect').multiselect();


            var i = 0;

            $('#AddDialogue').click(function () {
                var div = $('<div />');

                var characterSelect = $('#multiselect_to').clone()
                    .attr('name', 'Dialogues[' + i + '].CharacterId')
                    .removeAttr('multiple')
                    .removeAttr('size')
                    .removeClass();
                div.append(characterSelect);

                var textBox = $('<input />').attr('type', 'text').attr('name', 'Dialogues[' + i + '].Text');
                textBox.val("");
                div.append(textBox);

                var removeButton = $('<input />').attr('type', 'button').attr('value', 'Remove');
                removeButton.attr('onclick', 'removeDialogue(this)');
                div.append(removeButton);

                $('div.dialogues').append(div);
                i++;
            });
        });

        function removeDialogue(button) {
            $(button).parent().remove();

            var i = 0;
            $('.dialogues input:text').each(function () {
                $(this).attr('name', 'Dialogues[' + i + '].Text');
                i++;
            });
        }
    </script>
}