@model DataCollection<LessonOverviewDto>

@{
    ViewData["Title"] = "Lessons";
}

<h1>@ViewData["Title"]</h1>


<p class="float-right">
    <a class="btn btn-primary" asp-controller="Lesson" asp-action="Create">New Lesson</a>
</p>
@if (Model != null && Model.Items != null)
{
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td></td>
                <td>
                    <a class="btn btn-secondary"
                       asp-controller="Lesson"
                       asp-action="Detail"
                       asp-route-id="@item.LessonId">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Lesson" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </table>
}