@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">English Conversations</h1>
    <p>Learn and improve your English conversation skills by practicing 
    your English speaking using this interactive conversation practice tools.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">

        <h3><b>@User.Identity.Name</b>, que bueno tenerte aquí de nuevo.</h3>
    </div> 
}

