
@{
    ViewData["Title"] = "Tools";
}

<h1>Tools</h1>

<div class="card-deck">
    <div class="card">
        <img src="https://dummyimage.com/600x400" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Effortless English</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-area="" asp-controller="effortless-english" asp-action="Index">Go</a>
        </div>
    </div>
    <div class="card">
        <img src="https://dummyimage.com/600x400" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">English Conversations</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-area="" asp-controller="EffortlessEnglish" asp-action="Index">Go</a>
        </div>
    </div>
    <div class="card">
        <img src="https://dummyimage.com/600x400" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Top Polyglots</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-area="" asp-controller="EffortlessEnglish" asp-action="Index">Go</a>
        </div>
    </div>
</div>